In [2]:
import numpy as np
import pandas as pd

SINCE THE DATA IS RICH AND WE HAVE A VERY SMALL RATIO OF NULL VALUES IN THE CODE, WE WILL JUST FILL THEM WITH THE MEAN MEDIANS OR EITHER DROP EM


FIRST, WE WILL BE CLEANING THE DATASET WITH 5K ENTRIES

In [3]:
# Read the data from 5k_IMDB_MovieS.xlsx
file = pd.read_excel('5k_IMDB_MovieS.xlsx')
file.drop(columns=['Unnamed: 0'], inplace=True)
file.head()

,Director,Gross Collection,Genre,Star,Name of movie,Votes,language,budget,Year of release,imdb_score
0,James Cameron,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,English,237000000.0,2009.0,7.9
1,Gore Verbinski,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,English,300000000.0,2007.0,7.1
2,Sam Mendes,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,English,245000000.0,2015.0,6.8
3,Christopher Nolan,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,English,250000000.0,2012.0,8.5
4,Doug Walker,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,NaN,NaN,NaN,7.1

In [4]:
file.isnull().sum(axis=0).sort_values(ascending=False)

Gross Collection    884
budget              492
Year of release     108
Director            104
language             12
Star                  7
Genre                 0
Name of movie         0
Votes                 0
imdb_score            0
dtype: int64

In [5]:
#fill the null values in the column 'imdbRating' with the mean of the column
file.imdb_score.fillna(file.imdb_score.mean(), inplace=True)
#fill the null values in the column 'gross' with the mean of the column
file['Gross Collection'].fillna(file['Gross Collection'].mean(), inplace=True)
#drop the budget column
#file.drop(columns=['budget'], inplace=True)
#forwards fill the null values in the column 'Year of release'
file['Year of release'].fillna(method='ffill', inplace=True)
file.language = file.language.fillna('English')
file.dropna(subset=['Director'], inplace=True)
#drop the rows where the column 'Director' has null values
file.dropna(subset=['Star'], inplace=True)
#drop the column 'budget'
#file.drop(columns=['budget'], inplace=True)

In [6]:
#sort the dataset by the column 'imdbRating'
file.sort_values(by=['imdb_score'], ascending=False, inplace=True)
file.head()

,Director,Gross Collection,Genre,Star,Name of movie,Votes,language,budget,Year of release,imdb_score
2765,John Blanchard,4.846841e+07,Comedy,Martin Short,Towering Inferno,10,English,NaN,1990.0,9.5
1937,Frank Darabont,2.834147e+07,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,English,25000000.0,1994.0,9.3
3466,Francis Ford Coppola,1.348220e+08,Crime|Drama,Al Pacino,The Godfather,1155770,English,6000000.0,1972.0,9.2
4409,John Stockwell,4.846841e+07,Action,Matthew Ziff,Kickboxer: Vengeance,246,English,17000000.0,2016.0,9.1
2837,Francis Ford Coppola,5.730000e+07,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,English,13000000.0,1974.0,9.0

In [7]:
file.isnull().sum(axis=0).sort_values(ascending=False)

budget              395
Director              0
Gross Collection      0
Genre                 0
Star                  0
Name of movie         0
Votes                 0
language              0
Year of release       0
imdb_score            0
dtype: int64

In [8]:
#convert file2 in excel format
file.to_excel('clean_5k.xlsx')

NOW WE WILL BE DEALING WITH THE DATASET WITH 1000 VALUES

In [9]:
file2=pd.read_excel('Top_1000_IMDB_Movies.xlsx')
file2.head()

,Unnamed: 0,Name of movie,Year of relase,Watchtime,Genre,PG_Rating,Movie Rating,Metascore,Votes,Gross collection,Description,Director,Star
0,0,The Shawshank Redemption,1994,142,Drama,R,9.3,81,"2,660,946",$28.34M,Two imprisoned men bond over a number of years...,Frank Darabont,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'..."
1,1,The Godfather,1972,175,"Crime, Drama",---,9.2,100,"1,844,072",$134.97M,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"['Marlon Brando', 'Al Pacino', 'James Caan', '..."
2,2,Kantara,2022,148,"Action, Adventure, Drama",---,9.1,-----,"66,010",*****,It involves culture of Kambla and Bhootha Kola...,Rishab Shetty,"['Rishab Shetty', 'Sapthami Gowda', 'Kishore K..."
3,3,The Dark Knight,2008,152,"Action, Crime, Drama",PG-13,9.0,84,"2,633,886",$534.86M,When the menace known as the Joker wreaks havo...,Christopher Nolan,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh..."
4,4,The Lord of the Rings: The Return of the King,2003,201,"Action, Adventure, Drama",PG-13,9.0,94,"1,834,811",$377.85M,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,"['Elijah Wood', 'Viggo Mortensen', 'Ian McKell..."

In [10]:
#drop the rows where the column 'description' is equal to '*****'
file2.drop(file2[file2.Description == '*****'].index, inplace=True)
#drop the rows where the column 'metascore' is equal to '-----'
file2.drop(file2[file2.Metascore == '-----'].index, inplace=True)   
#drop the rows where the column 'Gross Collection ' is equal to '*****'
#file2.drop(file2[file2['Gross Collection '] == '*****'].index, inplace=True)
file2['Gross collection'].replace('*****', 'NaN', inplace=True)
#drop the column 'Unnamed: 0'
file2.drop(columns=['Unnamed: 0'], inplace=True)
#replace the '---' value in the column 'PG_rating with 'Not Rated'
file2.PG_Rating.replace('---', 'Not Rated', inplace=True)

In [11]:
file2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 839 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name of movie     839 non-null    object
 1   Year of relase    839 non-null    object
 2   Watchtime         839 non-null    int64
 3   Genre             839 non-null    object
 4   PG_Rating         839 non-null    object
 5   Movie Rating      839 non-null    float64
 6   Metascore         839 non-null    object
 7   Votes             839 non-null    object
 8   Gross collection  839 non-null    object
 9   Description       839 non-null    object
 10  Director          839 non-null    object
 11  Star              839 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 85.2+ KB

In [12]:
#pd.toexcel('5k_IMDB_MovieS.xlsx', index=False)
#convert file2 into new excel file with the name 'Top_1000_IMDB_Movies_cleaned.xlsx'
file2.to_excel('Top_1000_IMDB_Movies_cleaned.xlsx', index=False)

Encoding our data, basically assigning the integer values to the genre for better learning and training of ML algo

In [13]:
#use hot encoder to convert the genre into integer values and add them to the dataset
from sklearn.preprocessing import OneHotEncoder
#make a new column 'Genre value' and assign different values to different genres
file2['Genre value'] = 0
file2.loc[file2['Genre'].str.contains('Action'), 'Genre value'] = 1
file2.loc[file2['Genre'].str.contains('Adventure'), 'Genre value'] = 2
file2.loc[file2['Genre'].str.contains('Animation'), 'Genre value'] = 3
file2.loc[file2['Genre'].str.contains('Biography'), 'Genre value'] = 4
file2.loc[file2['Genre'].str.contains('Comedy'), 'Genre value'] = 5
file2.loc[file2['Genre'].str.contains('Crime'), 'Genre value'] = 6
file2.loc[file2['Genre'].str.contains('Drama'), 'Genre value'] = 7
file2.loc[file2['Genre'].str.contains('Family'), 'Genre value'] = 8
file2.loc[file2['Genre'].str.contains('Fantasy'), 'Genre value'] = 9
file2.loc[file2['Genre'].str.contains('History'), 'Genre value'] = 10
file2.loc[file2['Genre'].str.contains('Horror'), 'Genre value'] = 11
file2.loc[file2['Genre'].str.contains('Music'), 'Genre value'] = 12
file2.loc[file2['Genre'].str.contains('Musical'), 'Genre value'] = 13   
file2.loc[file2['Genre'].str.contains('Mystery'), 'Genre value'] = 14
file2.loc[file2['Genre'].str.contains('Romance'), 'Genre value'] = 15
file2.loc[file2['Genre'].str.contains('Sci-Fi'), 'Genre value'] = 16
file2.loc[file2['Genre'].str.contains('Sport'), 'Genre value'] = 17
file2.loc[file2['Genre'].str.contains('Thriller'), 'Genre value'] = 18  
file2.loc[file2['Genre'].str.contains('War'), 'Genre value'] = 19
file2.loc[file2['Genre'].str.contains('Western'), 'Genre value'] = 20
file2.loc[file2['Genre'].str.contains('Documentary'), 'Genre value'] = 21
file2.loc[file2['Genre'].str.contains('Film-Noir'), 'Genre value'] = 22
file2.loc[file2['Genre'].str.contains('Short'), 'Genre value'] = 23
file2.loc[file2['Genre'].str.contains('Adult'), 'Genre value'] = 24
file2.loc[file2['Genre'].str.contains('News'), 'Genre value'] = 25
file2.loc[file2['Genre'].str.contains('Reality-TV'), 'Genre value'] = 26
file2.loc[file2['Genre'].str.contains('Talk-Show'), 'Genre value'] = 27
file2.loc[file2['Genre'].str.contains('Game-Show'), 'Genre value'] = 28
file2.loc[file2['Genre'].str.contains('Sport'), 'Genre value'] = 29
#if there is any other genre that is not in the list, assign it the value 30
file2.loc[file2['Genre value'] == 0, 'Genre value'] = 30

#here if a movie contains more than one genre, the genre column will contain the maximum value of that genre

print(file2[['Genre value','Genre']].value_counts())

Genre value  Genre
7            Drama                                       71
15           Drama, Romance                              31
5            Animation, Adventure, Comedy                28
7            Comedy, Drama                               26
18           Crime, Drama, Thriller                      24
                                                         ..
7            Animation, Crime, Drama                      1
15           Action, Adventure, Romance                   1
18           Adventure, Thriller                          1
15           Comedy, Crime, Romance                       1
16           Fantasy, Mystery, Sci-Fi                     1
Length: 185, dtype: int64

In [14]:
file['Genre value'] = 0
file.loc[file['Genre'].str.contains('Action'), 'Genre value'] = 1
file.loc[file['Genre'].str.contains('Adventure'), 'Genre value'] = 2
file.loc[file['Genre'].str.contains('Animation'), 'Genre value'] = 3
file.loc[file['Genre'].str.contains('Biography'), 'Genre value'] = 4
file.loc[file['Genre'].str.contains('Comedy'), 'Genre value'] = 5
file.loc[file['Genre'].str.contains('Crime'), 'Genre value'] = 6
file.loc[file['Genre'].str.contains('Drama'), 'Genre value'] = 7
file.loc[file['Genre'].str.contains('Family'), 'Genre value'] = 8
file.loc[file['Genre'].str.contains('Fantasy'), 'Genre value'] = 9
file.loc[file['Genre'].str.contains('History'), 'Genre value'] = 10
file.loc[file['Genre'].str.contains('Horror'), 'Genre value'] = 11
file.loc[file['Genre'].str.contains('Music'), 'Genre value'] = 12
file.loc[file['Genre'].str.contains('Musical'), 'Genre value'] = 13   
file.loc[file['Genre'].str.contains('Mystery'), 'Genre value'] = 14
file.loc[file['Genre'].str.contains('Romance'), 'Genre value'] = 15
file.loc[file['Genre'].str.contains('Sci-Fi'), 'Genre value'] = 16
file.loc[file['Genre'].str.contains('Sport'), 'Genre value'] = 17
file.loc[file['Genre'].str.contains('Thriller'), 'Genre value'] = 18  
file.loc[file['Genre'].str.contains('War'), 'Genre value'] = 19
file.loc[file['Genre'].str.contains('Western'), 'Genre value'] = 20
file.loc[file['Genre'].str.contains('Documentary'), 'Genre value'] = 21
file.loc[file['Genre'].str.contains('Film-Noir'), 'Genre value'] = 22
file.loc[file['Genre'].str.contains('Short'), 'Genre value'] = 23
file.loc[file['Genre'].str.contains('Adult'), 'Genre value'] = 24
file.loc[file['Genre'].str.contains('News'), 'Genre value'] = 25
file.loc[file['Genre'].str.contains('Reality-TV'), 'Genre value'] = 26
file.loc[file['Genre'].str.contains('Talk-Show'), 'Genre value'] = 27
file.loc[file['Genre'].str.contains('Game-Show'), 'Genre value'] = 28
file.loc[file['Genre'].str.contains('Sport'), 'Genre value'] = 29


print(file[['Genre value','Genre']].value_counts())

Genre value  Genre
7            Drama                                   232
5            Comedy                                  202
7            Comedy|Drama                            189
15           Comedy|Drama|Romance                    184
             Comedy|Romance                          154
                                                    ...
18           Action|Drama|Fantasy|Horror|Thriller      1
8            Action|Animation|Comedy|Crime|Family      1
             Action|Animation|Comedy|Family            1
15           Action|Comedy|Fantasy|Romance             1
7            Animation|Comedy|Drama                    1
Length: 898, dtype: int64